<div
	class="alert-tailwind max-w-screen-lg mx-auto"
	[ngClass]="{
	'alert-primary-tailwind': alert.type === 'primary',
	'alert-danger-tailwind': alert.type === 'danger',
	'alert-success-tailwind': alert.type === 'success',
}"
>
	Centered alert for lg screen, corresponding to max-width: 1024px; with
	margin auto
</div>

<div
	class="alert-tailwind max-w-screen-md mx-auto"
	[ngClass]="{
	'alert-primary-tailwind': alert.type === 'primary',
	'alert-danger-tailwind': alert.type === 'danger',
	'alert-success-tailwind': alert.type === 'success',
}"
>
	Centered alert for md screen, corresponding to max-width: 768px; with margin
	auto
</div>

<div
	class="alert-tailwind max-w-screen-sm mx-auto"
	[ngClass]="{
	'alert-primary-tailwind': alert.type === 'primary',
	'alert-danger-tailwind': alert.type === 'danger',
	'alert-success-tailwind': alert.type === 'success',
}"
>
	Centered alert for md screen, corresponding to max-width: 640px; with margin
	auto
</div>
